/* ROOMS */

#rooms #livingroom,
#kitchen,
#diningroom,
#bathroom,
#bedroom1,
#bedroom2,
#attic,
#addroom {
  background-color: #444a6a;
  color: #FFF;
  font-weight: 300;
  font-size: 25px;
  width: 21.14%;
  height: 329px;
  margin: 0 0 1.46% 1.46%;
  float: left;
  text-align: center;
}

#rooms img {
  padding-top: 30%;
}

#rooms h2 {
  padding-top: 5%;
}

/* PROFILE DO NOT DISTURB */
#dash .doNotDisturb p {
  float: left;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

#dash .doNotDisturb input[type=time] {
  margin-left: 200px;
  margin-top: 17px;
  display: block;
}