/* ROOMS */

#rooms #livingroom,
#kitchen,
#diningroom,
#bathroom,
#bedroom1,
#bedroom2,
#attic,
#addroom {
  background-color: #444a6a;
  color: #FFF;
  font-weight: 300;
  font-size: 25px;
  width: 21.14%;
  height: 329px;
  margin: 0 0 1.46% 1.46%;
  float: left;
  text-align: center;
}

#rooms img {
  padding-top: 30%;
}

#rooms h2 {
  padding-top: 5%;
}

#temperature h2 {
  padding: 2%;
  padding-left: 2%;
  font-size: 23px;
}


/* TEMPERATURE */
/* back button */
#temperature .title img {
  margin: 1% 0 0 1%;
  display:inline-block;
}

#temperature .title h1{
  margin: 0 0 0 5%;
  display: inline-block;
}

/* oranje deel */
#temperature .orange {
  background-color: #fa7b35;
  color: #FFF;
  font-weight: 300;
  height: 85.03%;
  width: 50.29%;
  margin: 0 0 1.46% 1.46%;
  float: left;
}

#temperature .orange .hour {
  padding: 2% 0 0 2%;
  font-size: 25px;
}

#temperature .orange .room {
  text-align: center;
  font-size: 27px;
  padding-top: 2%;
}

#temperature .orange .value {
  font-size: 120px;
  text-align: center;
  padding-top: 10%;
}

/* setpoints */
#temperature .setpoints {
  background-color: #444a6a;
  color: #FFF;
  width: 37.25%;
  height: 32.94%;
  margin: 0 0 1.46% 1.46%;
  display: inline-block;
}

#temperature .setpoints h3 {
  padding: 5% 0 5% 5%;
  font-size: 25px;
  display: inline-block;
}

#temperature .setpoints input[type=text] {
  width: 60px;
  margin-left: 100px;
}

#temperature .setpoints .switch {
  margin-left: 78px;
}

/* ideal situation */
#temperature .idealsituation {
  background-color: #444a6a;
  color: #FFF;
  width: 37.25%;
  height: 24.25%;
  margin: 0 0 1.46% 1.46%;
  display: inline-block;
}

#temperature .idealvalue {
  font-size: 50px;
  padding: 2%;
  font-weight: 300;
}

#temperature .reason {
  font-weight: 300;
  padding: 2% 2%;
}

/* outside */
#temperature .outside {
  background-color: #444a6a;
  color: #FFF;
  width: 37.25%;
  height: 23.70%;
  margin: 0 0 1.46% 1.46%;
  display: inline-block;
}

#temperature .outside img {
  padding: 5% 0 0 5%;
  float: left;
}

#temperature .idealvalue {
  text-align: center;
}

#temperature .outside h3 {
  display: block;
  padding-bottom: 5%;
}

/* PROFILE DO NOT DISTURB */
#dash .doNotDisturb p {
  float: left;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

#dash .doNotDisturb input[type=time] {
  margin-left: 200px;
  margin-top: 17px;
  display: block;
}