/* Kleuren Huisstijl 
Donkerblauw: #192b4c
Oranje: #fa7b35
Lichtblauw: #444a6a
Donkergrijs: #c8cacc
Lichtgrijs: #e3e4e5

Groen: #25db91
Felblauw: #00ccff
Rood: #dc485e */

/* OUTSIDE TABEL */

#outside table{
 margin: 2px;
 margin-top: 2px;
 float: right;
 display: inline;
}

#outside table tr td {
 padding: 15px;
}

#outside td {
 padding: 20px;
 font-size: 16pt;
}

#outside td:first-child{
 padding-right: 0px;
 padding-left: 0px;

text-align: left;
}

#outside td:last-child{
 padding-left:0px;
 text-align: right;
}

#outside tr:last-child td{
 border-bottom: 0px;
}

#outside tr:first-child td{
 padding-top: 10px;
}

/* KAMEROVERZICHT BLOKJES*/

.rooms{
 font-family: "yellow", "Lato", sans-serif;
display: inline-block;
font-size: 33px;
}

.green {
 color: #25db91;
}

.red {
 color: #dc485e;
}

div.icon-block{
 display: inline-block;
padding-top: 15px;
}

p.rooms{
  padding-top: 15px;
 padding-left: 15px;
 
}