/* Kleuren Huisstijl 
Donkerblauw: #192b4c
Oranje: #fa7b35
Lichtblauw: #444a6a
Donkergrijs: #c8cacc
Lichtgrijs: #e3e4e5

Groen: #25db91
Felblauw: #00ccff
Rood: #dc485e */

@media screen and (max-width: 1024px) {
	body {
		font-family: 'Yellow', 'lato', sans-serif;
		font-size: 20px;
		font-weight: 400;
	}
	/* navigatie */
	header {
		background-color: #444a6a;
		margin: 0 auto 0 auto;
		height: 100%;
		width: 7.66%;
		float: left;
	}
	nav ul img {
		width: 100%;
		height: 80px;
		margin-bottom: 15px;
		margin-top: 20px;
	}
	nav ul li a {
		text-decoration: none;
		color: white;
		font-weight: 300;
	}
	nav ul li {
		text-align: center;
	}
	.selected {
		color: #f47936;
	}
	.navLine {
		width: 80%;
		margin-top: 9px;
		margin-bottom: 24px;
	}
	.navIcons {
		padding-bottom: 10px;
	}
}


/* HISTORY */

body {
	background-color: #192b4c;
}

#history #graphs {
	width: 60.9%;
    height:76%;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 0px;
	background-color: #444a6a;
}
#history #historyTemp, #historyHum, #historyCO2, #historyIll, #historyNoise{
  width:94%;
  height:15%;
  margin:15px;
  margin-top: 17px;
  border: 4px solid;
}
#history .thermoIcon{
  background-color:#da475e;
  width:15%;
  height:100%;
  border-right: 4px solid;
  float: left;
  display: inline-block;
}
#history .icon-thermometer, .icon-water, .icon-cloud, .icon-lamp, .icon-ear{
  text-align: center;
  font-size: 60px;
  padding-top: 14px;
}
#history #chartTemp, #chartHum, #chartCO2, #chartIll, chartNoise{
  width:70%;
  height:100%;
  float: left;
  display: inline-block;
}
#history .temp{
  width:14.3%;
  height:100%;
  float:left;
  background-color: #da475e;
}
#history #tempValue, #humValue, #co2Value, #illValue, #noiseValue{
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  margin-top: 30px;
}
#history .humIcon{
  background-color:#33c5f3;
  width:15%;
  height:100%;
  border-right: 4px solid;
  float: left;
  display: inline-block;
}
#history .hum{
  width:14.3%;
  height:100%;
  float:left;
  background-color: #33c5f3;
}
#history .co2Icon{
  background-color:#57be89;
  width:15%;
  height:100%;
  border-right: 4px solid;
  float: left;
  display: inline-block;
}
#history .co2{
  width:14.3%;
  height:100%;
  float:left;
  background-color: #57be89;
}
#history .illIcon{
  background-color:#fcee21;
  width:15%;
  height:100%;
  border-right: 4px solid;
  float: left;
  display: inline-block;
}
#history .ill{
  width:14.3%;
  height:100%;
  float:left;
  background-color: #fcee21;
}
#history .noiseIcon{
  background-color:#e88452;
  width:15%;
  height:100%;
  border-right: 4px solid;
  float: left;
  display: inline-block;
}
#history .noise{
  width:14.3%;
  height:100%;
  float:left;
  background-color: #e88452;
}


/*
h1 {
 color: white;
}

.title {
 float: left;
 width: 70%;
 margin: 15px;
 padding: 15px;
 background-color: #444a6a;
}
*/

#calendar {
	max-width: 100%;
	display: inline;
	float: right;
}

section#calendar {
	max-width: 27%;
	margin: 15px;
	margin-left: 0px;
	margin-top: 0px;
}

#parameterButton {
	max-width: 25%;
	display: inline-block;
	background-color: #fa7b35;
	color: white;
	padding-left: 42px;
	padding-right: 42px;
	padding-top: 105px;
	padding-bottom: 105px;
	margin: 15px;
	margin-left: 0px;
	margin-top: 0px;
	float: right;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	color: white;
}

#optionMenu {
	float: left;
	height: 45px;
	width: 89%;
	margin: 0px 15px 15px 15px;
	background-color: #444a6a;
	position: relative;
	color: white;
	border-radius: 0;
	border-color: #444a6a;
}

.icon-arrow {
	text-decoration: none;
	color: white;
	float: right;
	font-size: 35px;
	margin-right: 10px;
	margin-top: 5px;
	position: absolute;
	left: 955;
	top: 83;
}

h2 {
	font-weight: 700;
	color: white;
	margin-left: 15px;
	margin-top: 10px;
	padding-top: 15px;
	display: inline;
}

select {
	font-family: "Lato", sans-serif;
	padding-left: 15px;
}

option:hover {
	background-color: #fa7b35;
}