
/* Toggle Button */ 
/* Geraadpleegde bron: W3Schools, How to create a toggle switch.  https://www.w3schools.com/howto/howto_css_switch.asp Datum van raadpleging: 23 mei 2017*/ 

.switch {
float: right;
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
 margin: 5px;
  margin-top: 15px;
  margin-right: 50px;
}

.switch input{
 display: none;
}

.slider {
 float: right;
 display: inline-block;
 position: absolute;
 background-color: #e3e4e5;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 transition: 0.4s;
 border-radius: 34px;
 
}

.slider:before{
 display: inline-block;
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 transition: 0.4s;
 border-radius: 50%;
}

input:checked + .slider{
 background-color: #fa7b35;
}

input:checked + .slider:before{
 transform: translateX(26px);
}