

/* KAMEROVERZICHT BLOKJES*/

.rooms{
 font-family: "yellow", "Lato", sans-serif;
display: inline-block;
font-size: 33px;
}

.green {
 color: #25db91;
}

.red {
 color: #dc485e;
}

div.icon-block{
 display: inline-block;
padding-top: 15px;
}

p.rooms{
  padding-top: 15px;
 padding-left: 15px;
 
}