/* Kleuren Huisstijl 
Donkerblauw: #192b4c
Oranje: #fa7b35
Lichtblauw: #444a6a
Donkergrijs: #c8cacc
Lichtgrijs: #e3e4e5

Groen: #25db91
Felblauw: #00ccff
Rood: #dc485e */

/* HUMIDITY detail */
#humidity .orange {
  background-color: #fa7b35;
  color: #FFF;
  font-weight: 300;
  height: 85.03%;
  width: 50.29%;
  margin: 0 0 1.46% 1.46%;
  float: left;
  text-align: center;
}

#humidity .setpoints {
  background-color: #444a6a;
  color: #FFF;
  width: 37.25%;
  height: 32.94%;
  margin: 0 0 1.46% 1.46%;
  display: inline-block;
}

#humidity .idealsituation {
  background-color: #444a6a;
  color: #FFF;
  width: 37.25%;
  height: 24.25%;
  margin: 0 0 1.46% 1.46%;
  display: inline-block;
}

#humidity .outside {
  background-color: #444a6a;
  color: #FFF;
  width: 37.25%;
  height: 23.70%;
  margin: 0 0 1.46% 1.46%;
  display: inline-block;
}

#humidity .outside img{
  padding: 5% 10% 0 5%;
}

#humidity #idealvalue {
  text-align: center;
}

#humidity #outsidetemperature, #outsidehumidiy, #windspeed {

}


/* Toggle Button */ 
/* Geraadpleegde bron: W3Schools, How to create a toggle switch.  https://www.w3schools.com/howto/howto_css_switch.asp Datum van raadpleging: 23 mei 2017*/ 

.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}

.switch input{
 display: none;
}

.slider {
 
 position: absolute;
 background-color: #e3e4e5;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 transition: 0.4s;
 border-radius: 34px;
 
}

.slider:before{
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 transition: 0.4s;
 border-radius: 50%;
}

input:checked + .slider{
 background-color: #fa7b35;
}

input:checked + .slider:before{
 transform: translateX(26px);
}