	@media screen and (max-width: 1024px) {
		body {
			font-family: 'Yellow', 'lato', sans-serif;
			font-size: 20px;
			font-weight: 400;
		}
		/* navigatie */
		header {
			background-color: #444a6a;
			margin: 0 auto 0 auto;
			height: 100%;
			width: 7.66%;
			float: left;
		}
		nav ul img {
			width: 100%;
			height: 80px;
			margin-bottom: 15px;
			margin-top: 20px;
		}
		nav ul li a {
			text-decoration: none;
			color: white;
			font-weight: 300;
		}
		nav ul li {
			text-align: center;
		}
		.selected {
			color: #f47936;
		}
		.navLine {
			width: 80%;
			margin-top: 9px;
			margin-bottom: 24px;
		}
		.navIcons {
			padding-bottom: 10px;
		}
		/* DASHBOARD Ennio */
		#optionMenu {
			float: left;
			height: 45px;
			width: 97.8%;
			margin: 0px 0px 0px 0px;
			background-color: #444a6a;
			border-radius: 0;
			border-color: #444a6a;
			position: relative;
			color: white;
		}
		select {
			box-sizing: content-box;
			padding: 0px 0px 0px 10px;
		}
		#dash .parameters {
			width: 55.08%;
			height: 85%;
			float: left;
			margin: 0px 0px 0px 15px;
		}
		#dash .dropdown {
			float: left;
			height: 45px;
			width: 100%;
			background-color: #444a6a;
		}
		#dash .dropdown h2 {
			font-weight: 400;
			color: white;
			margin-left: 15px;
			margin-top: 10px;
			float: left;
		}
		#dash .icon-arrow {
			text-decoration: none;
			color: white;
			float: right;
			font-size: 35px;
			margin-right: 10px;
			margin-top: 7px;
			position: absolute;
			left: 610;
		}
		/*Colom*/
		#dash .column a {
			text-decoration: none;
			color: white;
		}
		#dash .column {
			width: 48.54%;
			height: 91%;
			float: left;
			margin-top: 15px;
			margin-right: 15px;
		}
		#dash .column:last-of-type {
			margin-right: 0;
		}
		#dash .temperature {
			height: 210px;
			background-color: #444a6a;
			margin-bottom: 15px;
		}
		#dash .column h2 {
			text-align: center;
			padding-top: 5px;
			font-size: 22px;
		}
		#dash .co2 {
			height: 163px;
			background-color: #444a6a;
			margin-bottom: 15px;
		}
		#dash .illuminance {
			height: 190px;
			background-color: #444a6a;
		}
		#dash .humidity {
			height: 163px;
			background-color: #444a6a;
			margin-bottom: 15px;
		}
		#dash .noise {
			height: 190px;
			background-color: #444a6a;
			margin-bottom: 15px;
		}
		#dash .pressure {
			height: 210px;
			background-color: #444a6a;
			margin-bottom: 15px;
		}
		#dash .badIcon {
			color: #da475e;
		}
		#dash .goodIcon {
			color: #57be89;
		}
		#dash #tempIcon {
			font-size: 90px;
			float: right;
			margin-top: 50px;
			margin-right: 30px;
		}
		#dash #CO2Icon {
			font-size: 50px;
			margin-top: 50px;
			margin-right: 20px;
			float: right;
		}
		#dash #illumIcon {
			font-size: 70px;
			margin-top: 40px;
			margin-right: 20px;
			float: right;
		}
		#dash #humIcon {
			font-size: 70px;
			margin-top: 40px;
			margin-right: 20px;
			float: right;
		}
		#dash #noiseIcon {
			font-size: 70px;
			margin-top: 40px;
			margin-right: 40px;
			float: right;
		}
		#dash #pressIcon {
			font-size: 70px;
			margin-top: 10px;
			text-align: center;
		}
	}
	
	#dash div#tempValue {
		font-size: 60px;
		font-weight: 300;
		margin-left: 15%;
		margin-top: 20%;
		display: inline-block;
	}
	
	#dash div#co2Value {
		font-size: 60px;
		font-weight: 300;
		margin-left: 5%;
		margin-top: 10%;
		display: inline-block;
	}
	
	#dash div#illumValue {
		font-size: 60px;
		font-weight: 300;
		margin-left: 15%;
		margin-top: 15%;
		display: inline-block;
	}
	
	#dash div#humValue {
		font-size: 60px;
		font-weight: 300;
		margin-left: 15%;
		margin-top: 15%;
		display: inline-block;
	}
	
	#dash div#noiseValue {
		font-size: 60px;
		font-weight: 300;
		margin-left: 15%;
		margin-top: 14%;
		display: inline-block;
	}
	
	#dash span {
		font-size: 28px;
		font-weight: 300;
	}
	
	#dash div#pressValue {
		font-size: 60px;
		font-weight: 300;
		margin-left: 17%;
		margin-top: 10%;
		display: inline-block;
	}
	
	#dash div#windSValue {
		font-size: 60px;
		font-weight: 300;
		margin-left: 10%;
		margin-top: 20%;
		display: inline-block;
	}
	
	#dash div#windDValue {
		font-size: 60px;
		font-weight: 300;
		margin-left: 30%;
		margin-top: 20%;
	}
	
	#dash div#vocValue {
		font-size: 60px;
		font-weight: 300;
		margin-left: 10%;
		margin-top: 20%;
		display: inline-block;
	}
	
	#dash .house {
		width: 32.47%;
		height: 59.5295%;
		float: left;
		margin: 0px 0px 0px 15px;
	}
	
	#dash .houseTitle {
		float: left;
		height: 45px;
		width: 100%;
		background-color: #444a6a;
	}
	
	#dash .houseTitle h2 {
		font-weight: 400;
		color: white;
		margin-left: 15px;
		margin-top: 10px;
		float: left;
	}
	
	#dash .outside {
		width: 32.47%;
		height: 25.4566%;
		float: left;
		margin: 0px 0px 0px 15px;
	}
	
	#dash .outsideTitle {
		float: left;
		height: 45px;
		width: 100%;
		background-color: #444a6a;
	}
	
	#dash .outsideTitle h2 {
		font-weight: 400;
		color: white;
		margin-left: 15px;
		margin-top: 10px;
		/*		float: left;*/
	}
	
	#dash .outside img {
		padding: 45px 0 0 15px;
		float: left;
	}
	
	#dash .outside section:first-of-type {
		padding-top: 20px;
	}
	
	#dash .outside h3 {
		display: block;
		padding-bottom: 5%;
		margin-left: 130px;
		margin-top: 5px;
		font-weight: 400;
	}
	/* PROFILE Ennio */
	
	#dash .myHouse {
		height: 290px;
		background-color: #444a6a;
		margin-bottom: 15px;
	}
	
	#dash .myHouse h2 {
		font-size: 25px;
		font-weight: 400;
	}
	
	#dash .addAndCompare {
		height: 137.5px;
		background-color: #444a6a;
		margin-bottom: 15px;
	}
	
	#dash .addAndCompare h2 {
		text-align: center;
		padding-top: 30px;
		font-size: 26px;
		line-height: 35px;
		float: right;
		margin-right: 40px;
	}
	
	#dash .addAndCompare img {
		float: left;
		margin-top: 33px;
		margin-left: 35px;
		width: 55px;
	}
	
	#dash .icon-house {
		font-size: 150px;
		text-align: center;
		font-weight: bold;
	}
	
	#dash .myHouse p {
		font-size: 23px;
		text-align: center;
		font-weight: 300;
	}
	
	#dash button {
		background-color: #ee732a;
		color: white;
		width: 59.8958%;
		height: 13.21%;
		border: none;
		display: block;
		margin: auto;
		margin-top: 10%;
	}
	
	#dash h3 {
		font-weight: 300;
		font-size: 20px;
	}
	
	#dash .doNotDisturb {
		width: 32.47%;
		height: 31.234%;
		float: left;
		margin: 0px 0px 15px 15px;
		background-color: #444a6a;
	}
	
	#dash .doNotDisturbTitle {
		/*		float: left;*/
		height: 45px;
		width: 100%;
		background-color: #444a6a;
	}
	
	#dash .doNotDisturbTitle h2 {
		font-weight: 400;
		color: white;
		margin-left: 15px;
		margin-top: 10px;
	}
	
	#dash .doNotDisturb p {
		margin-top: 12px;
		margin-left: 40px;
		font-weight: 300;
		font-size: 26px;
	}
	
	#dash .doNotDisturb hr {
		margin: 30px;
	}
	
	#dash .customizeDash {
		width: 32.47%;
		height: 52%;
		float: left;
		margin: 0px 0px 0px 15px;
		background-color: #444a6a;
	}
	
	#dash .customizeDashTitle h2 {
		font-weight: 400;
		color: white;
		margin-left: 15px;
		margin-top: 10px;
		/*		float: left;*/
	}
	
	#dash .customizeDash input {
		width: 27px;
		height: 27px;
		margin-left: 15px;
		margin-right: 15px;
	}
	
	#dash .customizeDash input:first-of-type {
		margin-top: 15px;
	}
	
	#dash .blindsup h3 {
		margin-top: 10px;
		margin-left: 10px;
		float: left;
	}
	
	#dash .blindsup:first-of-type {
		margin-top: 10px;
	}
	
	#dash .blindsup {
		height: 44px;
		margin-left: 15px;
	}
	
	#dash .icon-block {
		display: inline-block;
		padding-top: 15px;
		font-size: 40px;
	}
	
	#dash .icon-emptyblock {
		display: inline-block;
		padding-top: 15px;
		font-size: 40px;
	}
	
	#dash .house h2 {
		display: inline-block;
	}
	
	#dash .sortHouse {
		margin-top: 10px;
	}
	
	#dash .sorthouse h2 {
		vertical-align: 45%;
	}
	/* Toggle Button */
	/* Geraadpleegde bron: W3Schools, How to create a toggle switch.  https://www.w3schools.com/howto/howto_css_switch.asp Datum van raadpleging: 23 mei 2017*/
	
	.switch {
		float: left;
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
		margin: 5px;
	}
	
	.switch input {
		display: none;
	}
	
	.slider {
		float: left;
		display: inline-block;
		position: absolute;
		background-color: #e3e4e5;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: 0.4s;
		border-radius: 34px;
	}
	
	.slider:before {
		display: inline-block;
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		transition: 0.4s;
		border-radius: 50%;
	}
	
	input:checked + .slider {
		background-color: #fa7b35;
	}
	
	input:checked + .slider:before {
		transform: translateX(26px);
	}