  @media screen and (max-width: 1024px) {
    body {
      font-family: 'yellowfont', 'lato', sans-serif;
      font-size: 20px;
      font-weight: 400;
      background-color: #0d294d;
      color: white;
    }
    /* NAVIGATIE */
    header {
      background-color: #444a6a;
      margin: 0 auto 0 auto;
      height: 100%;
      width: 7.66%;
      float: left;
    }
    nav ul img {
      width: 100%;
      height: 80px;
      margin-bottom: 15px;
      margin-top: 20px;
    }
    nav ul li a {
      text-decoration: none;
      color: white;
      font-weight: 300;
    }
    nav ul li {
      text-align: center;
    }
    .selected {
      color: #f47936;
    }
    .navLine {
      width: 80%;
      margin-top: 9px;
      margin-bottom: 24px;
    }
    .navIcons {
      padding-bottom: 10px;
    }
    .title {
      float: left;
      height: 45px;
      width: 83.15%;
      margin: 20px 1.46% 15px 1.46%;
      background-color: #444a6a;
    }
    .title h1 {
      font-weight: 700;
      color: white;
      margin: 13px 0 0 20px;
    }
    .notificationIcon {
      background-color: #444a6a;
      height: 45px;
      width: 4.29%;
      float: left;
      margin: 20px 1.95% 15px 0;
    }
    .notificationIcon a {
      text-decoration: none;
      color: white;
      float: left;
    }
    .icon-notification {
      margin: 5px;
    }
    /* INDEX */
    /* dashboard */
    /* house overview blokjes */
    .rooms {
      font-family: "yellow", "Lato", sans-serif;
      display: inline-block;
      font-size: 33px;
    }
    .green {
      color: #25db91;
    }
    .red {
      color: #dc485e;
    }
    div.icon-block {
      display: inline-block;
      padding-top: 15px;
    }
    p.rooms {
      padding-top: 15px;
      padding-left: 15px;
    }
    /* outside table */
    #outside table {
      margin: 2px;
      margin-top: 2px;
      float: right;
      display: inline;
    }
    #outside table tr td {
      padding: 15px;
    }
    #outside td {
      padding: 20px;
      font-size: 16pt;
    }
    #outside td:first-child {
      padding-right: 0px;
      padding-left: 0px;
      text-align: left;
    }
    #outside td:last-child {
      padding-left: 0px;
      text-align: right;
    }
    #outside tr:last-child td {
      border-bottom: 0px;
    }
    #outside tr:first-child td {
      padding-top: 10px;
    }
    /* OUTSIDE */
    #outside a {
      text-decoration: none;
      color: white;
    }
    #outside .column {
      width: 28.69%;
      height: 85%;
      float: left;
      margin-left: 1.46%
    }
    #outside .temperature {
      height: 36%;
      background-color: #444a6a;
      margin-bottom: 15px;
    }
    #outside h2 {
      text-align: center;
      padding-top: 5px;
      font-size: 22px;
    }
    #outside .co2 {
      height: 31.5%;
      background-color: #444a6a;
      margin-bottom: 15px;
    }
    #outside .illuminance {
      height: 28%;
      background-color: #444a6a;
    }
    #outside .humidity {
      height: 29%;
      background-color: #444a6a;
      margin-bottom: 15px;
    }
    #outside .noise {
      height: 26%;
      background-color: #444a6a;
      margin-bottom: 15px;
    }
    #outside .pressure {
      height: 40.5%;
      background-color: #444a6a;
    }
    #outside .windSpeed {
      height: 35%;
      background-color: #444a6a;
      margin-bottom: 15px;
    }
    #outside .windDirection {
      height: 31%;
      background-color: #444a6a;
      margin-bottom: 15px;
    }
    #outside .voc {
      height: 29.5%;
      background-color: #444a6a;
    }
    #outside .badIcon {
      color: #da475e;
    }
    #outside .goodIcon {
      color: #57be89;
    }
    #outside #tempIcon {
      font-size: 100px;
      float: right;
      margin-top: 30px;
      margin-right: 25px;
    }
    #outside #CO2Icon {
      font-size: 60px;
      margin-top: 50px;
      margin-right: 20px;
      float: right;
    }
    #outside #illumIcon {
      font-size: 70px;
      margin-top: 40px;
      margin-right: 20px;
      float: right;
    }
    #outside #humIcon {
      font-size: 70px;
      margin-top: 40px;
      margin-right: 20px;
      float: right;
    }
    #outside #noiseIcon {
      font-size: 70px;
      margin-top: 40px;
      margin-right: 40px;
      float: right;
    }
    #outside #pressIcon {
      font-size: 90px;
      margin-top: 20px;
      text-align: center;
    }
    #outside #windSIcon {
      font-size: 60px;
      margin-top: 55px;
      margin-right: 10px;
      float: right;
    }
    #outside #windDIcon {
      font-size: 60px;
      margin-top: 55px;
      margin-right: 20px;
      float: right;
    }
    #outside #vocIcon {
      font-size: 60px;
      margin-top: 55px;
      margin-right: 10px;
      float: right;
    }
    #outside div#tempValue {
      font-size: 60px;
      font-weight: 300;
      margin-left: 15%;
      margin-top: 20%;
      display: inline-block;
    }
    #outside div#co2Value {
      font-size: 60px;
      font-weight: 300;
      margin-left: 5%;
      margin-top: 20%;
      display: inline-block;
    }
    #outside div#illumValue {
      font-size: 60px;
      font-weight: 300;
      margin-left: 15%;
      margin-top: 15%;
      display: inline-block;
    }
    #outside div#humValue {
      font-size: 60px;
      font-weight: 300;
      margin-left: 15%;
      margin-top: 15%;
      display: inline-block;
    }
    #outside div#noiseValue {
      font-size: 60px;
      font-weight: 300;
      margin-left: 15%;
      margin-top: 14%;
      display: inline-block;
    }
    #outside span {
      font-size: 28px;
      font-weight: 300;
    }
    #outside div#pressValue {
      font-size: 60px;
      font-weight: 300;
      margin-left: 17%;
      margin-top: 14%;
      display: inline-block;
    }
    #outside div#windSValue {
      font-size: 60px;
      font-weight: 300;
      margin-left: 10%;
      margin-top: 20%;
      display: inline-block;
    }
    #outside div#windDValue {
      font-size: 60px;
      font-weight: 300;
      margin-left: 30%;
      margin-top: 20%;
      float: left;
    }
    #outside div#vocValue {
      font-size: 60px;
      font-weight: 300;
      margin-left: 10%;
      margin-top: 20%;
      display: inline-block;
    }
    /* ROOMS */
    #rooms #livingroom,
    #kitchen,
    #diningroom,
    #bathroom,
    #bedroom1,
    #bedroom2,
    #attic,
    #addroom {
      background-color: #444a6a;
      color: #FFF;
      font-weight: 300;
      font-size: 25px;
      width: 21.14%;
      height: 329px;
      margin: 0 0 1.46% 1.46%;
      float: left;
      text-align: center;
    }
    #rooms img {
      padding-top: 30%;
    }
    #rooms h2 {
      padding-top: 5%;
    }
    /* DETAIL PAGINA */
    .title a {
      text-decoration: none;
      color: white;
      margin-left: 10px;
    }
    /* back button */
    #temperature #humidity,
    .title img {
      margin: 1% 0 0 1%;
      display: inline-block;
    }
    #temperature #humidity,
    .title h1 {
      margin: 12px 0 0 20px;
      display: inline-block;
    }
    /* oranje deel */
    #temperature #humidity,
    .orange {
      background-color: #fa7b35;
      color: #FFF;
      font-weight: 300;
      height: 85.03%;
      width: 50.29%;
      margin: 0 0 1.46% 1.46%;
      float: left;
    }
    #temperature #humidity,
    .orange .hour {
      padding: 2% 0 0 2%;
      font-size: 25px;
    }
    #temperature #humidity,
    .orange .room {
      text-align: center;
      font-size: 27px;
      padding-top: 2%;
    }
    #temperature #humidity,
    .orange .value {
      font-size: 120px;
      text-align: center;
      padding-top: 10%;
    }
    #temperature #humidity,
    table {
      margin: 45px;
      margin-bottom: 0;
    }
    #temperature #humidity,
    table tr td {
      padding: 15px;
    }
    #temperature #humidity,
    td {
      border-bottom: 1px solid white;
      padding: 20px;
      font-size: 20pt;
    }
    #temperature #humidity,
    td:first-child {
      padding-right: 120px;
      text-align: left;
    }
    #temperature #humidity,
    td:last-child {
      padding-left: 120px;
      text-align: right;
    }
    #temperature #humidity,
    tr:last-child td {
      border-bottom: 0px;
    }
    /* setpoints */
    #temperature #humidity,
    .setpoints {
      background-color: #444a6a;
      color: #FFF;
      width: 37.25%;
      height: 32.94%;
      margin: 0 0 1.46% 1.46%;
      display: inline-block;
    }
    #temperature #humidity,
    .setpoints h3 {
      padding: 5% 0 5% 5%;
      font-size: 25px;
      display: inline-block;
    }
    #temperature #humidity,
    .setpoints input[type=text] {
      width: 60px;
      margin-left: 100px;
      margin-right: 5px;
    }
    /* ideal situation */
    #temperature #humidity,
    .idealsituation {
      background-color: #444a6a;
      color: #FFF;
      width: 37.25%;
      height: 24.25%;
      margin: 0 0 1.46% 1.46%;
      display: inline-block;
    }
    #temperature #humidity,
    .idealvalue {
      font-size: 50px;
      padding: 2%;
      font-weight: 300;
    }
    #temperature #humidity,
    .reason {
      font-weight: 300;
      padding: 2% 2%;
    }
    /* outside */
    #temperature #humidity,
    .outside {
      background-color: #444a6a;
      color: #FFF;
      width: 37.25%;
      height: 23.70%;
      margin: 0 0 1.46% 1.46%;
      display: inline-block;
    }
    #temperature #humidity,
    .outside img {
      padding: 5% 0 0 5%;
      float: left;
    }
    #temperature #humidity,
    .idealvalue {
      text-align: center;
    }
    #temperature #humidity,
    .outside h3 {
      display: block;
      padding-bottom: 5%;
    }
    #temperature #humidity,
    h2 {
      padding: 2%;
      padding-left: 2%;
      font-size: 23px;
    }
    #temperature #humidity,
    #outsidedetail table {
      margin: 2px;
      margin-top: 2px;
      float: right;
      display: inline;
    }
    #temperature #humidity,
    #outsidedetail table tr td {
      padding: 15px;
    }
    #temperature #humidity,
    #outsidedetail td {
      border-bottom: 0px;
      padding: 20px;
      font-size: 16pt;
    }
    #temperature #humidity,
    #outsidedetail td:first-child {
      padding-right: 0px;
      text-align: left;
    }
    #temperature #humidity,
    #outsidedetail td:last-child {
      padding-left: 0px;
      text-align: right;
    }
    #temperature #humidity,
    #outsidedetail tr:last-child td {
      border-bottom: 0px;
    }
    #temperature #humidity,
    #outsidedetail tr:first-child td {
      padding-top: 0px;
    }
    /* PROFILE */
    /* switch buttons */
    #dash .switch {
      float: left;
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin: 5px;
    }
    #dash .slider {
      float: left;
    }
    /* rest */
    #dash .myHouse {
      height: 290px;
      background-color: #444a6a;
      margin-bottom: 15px;
    }
    #dash .myHouse h2 {
      font-size: 25px;
      font-weight: 400;
    }
    #dash .addAndCompare {
      height: 137.5px;
      background-color: #444a6a;
      margin-bottom: 15px;
    }
    #dash .addAndCompare h2 {
      text-align: center;
      padding-top: 30px;
      font-size: 26px;
      line-height: 35px;
      float: right;
      margin-right: 40px;
    }
    #dash .addAndCompare img {
      float: left;
      margin-top: 33px;
      margin-left: 35px;
      width: 55px;
    }
    #dash .icon-house {
      font-size: 150px;
      text-align: center;
      font-weight: bold;
    }
    #dash .myHouse p {
      font-size: 23px;
      text-align: center;
      font-weight: 300;
    }
    #dash button {
      background-color: #ee732a;
      color: white;
      width: 59.8958%;
      height: 13.21%;
      border: none;
      display: block;
      margin: auto;
      margin-top: 10%;
    }
    #dash h3 {
      font-weight: 300;
      font-size: 20px;
    }
    #dash .doNotDisturb {
      width: 32.47%;
      height: 31.234%;
      float: left;
      margin: 0px 0px 15px 15px;
      background-color: #444a6a;
    }
    #dash .doNotDisturbTitle {
      height: 45px;
      width: 100%;
      background-color: #444a6a;
    }
    #dash .doNotDisturbTitle h2 {
      font-weight: 400;
      color: white;
      margin-left: 15px;
      margin-top: 4px;
    }
    #dash .doNotDisturb p {
      margin-top: 12px;
      margin-left: 40px;
      font-weight: 300;
      font-size: 26px;
    }
    #dash .doNotDisturb hr {
      margin: 30px;
    }
    #dash .customizeDash {
      width: 32.47%;
      height: 52%;
      float: left;
      margin: 0px 0px 0px 15px;
      background-color: #444a6a;
    }
    #dash .customizeDashTitle h2 {
      font-weight: 400;
      color: white;
      margin-left: 15px;
      margin-top: 10px;
    }
    #dash .customizeDash input {
      width: 27px;
      height: 27px;
      margin-left: 15px;
      margin-right: 15px;
    }
    #dash .customizeDash input:first-of-type {
      margin-top: 15px;
    }
    #dash .blindsup h3 {
      margin-top: 10px;
      margin-left: 10px;
      float: left;
    }
    #dash .blindsup {
      height: 44px;
      margin-left: 15px;
    }
    #dash .icon-block {
      display: inline-block;
      padding-top: 15px;
      font-size: 40px;
    }
    #dash .icon-emptyblock {
      display: inline-block;
      padding-top: 15px;
      font-size: 40px;
    }
    #dash .house h2 {
      display: inline-block;
    }
    #dash .sortHouse {
      margin-top: 10px;
    }
    #dash .sorthouse h2 {
      vertical-align: 45%;
    }
    #dash .doNotDisturb p {
      float: left;
      display: block;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    #dash .doNotDisturb input[type=time] {
      margin-left: 200px;
      margin-top: 17px;
      display: block;
    }
    /* NOTIFICATIONS */
    #notificationContainer {
      position: relative;
      display: inline-block;
      font-weight: 300;
    }
    .notificationContent {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: #444a6a;
      float: left;
      margin-left: -290px;
      width: 335px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      max-height: 670px;
      overflow: hidden;
    }
    .newnotify {
      padding: 20px;
      color: white;
      color: #fa7b35;
      background-color: #444a6a;
    }
    .oldnotify {
      background-color: #444a6a;
      color: #c8cacc;
      padding: 20px;
    }
    .notificationicon {
      background-color: #fa7b35;
    }
    .blue {
      background-color: #444a6a;
    }
    .notLine {
      width: 80%;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .hiddenDialog {
      background-color: #444a6a;
      text-align: center;
      display: none;
      padding: 20px;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 50px;
    }
    .show {
      display: inline-block;
    }
    .greenDialog {
      color: #25db91;
      float: left;
      padding: 20px;
      padding-top: 0;
    }
    .redDialog {
      color: #dc485e;
      float: right;
      padding: 20px;
      padding-top: 0;
    }
    /* TOGGLE BUTTON*/
    /* Geraadpleegde bron: W3Schools, How to create a toggle switch.  https://www.w3schools.com/howto/howto_css_switch.asp Datum van raadpleging: 23 mei 2017*/
    .switch {
      float: right;
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin: 5px;
      margin-top: 15px;
      margin-right: 50px;
    }
    .switch input {
      display: none;
    }
    .slider {
      float: right;
      display: inline-block;
      position: absolute;
      background-color: #e3e4e5;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: 0.4s;
      border-radius: 34px;
    }
    .slider:before {
      display: inline-block;
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
    input:checked + .slider {
      background-color: #fa7b35;
    }
    input:checked + .slider:before {
      transform: translateX(26px);
    }
    /* LOGIN */
    #login img {
      display: block;
      margin: auto;
      margin-top: 3%;
    }
    #login h2 {
      text-align: center;
      font-size: 25px;
      font-weight: 700;
      margin-top: 3%;
    }
    #login input {
      display: block;
      margin: auto;
      width: 35%;
      height: 6%;
    }
    #login button {
      background-color: #ee732a;
      color: white;
      width: 35%;
      height: 6%;
      border: none;
      display: block;
      margin: auto;
      margin-top: 5%;
    }
    #login h3 {
      font-weight: 400;
      font-size: 25px;
    }
  }