  @media screen and (max-width: 1024px) {
    body {
      font-family: 'yellowfont', 'lato', sans-serif;
      font-size: 20px;
      font-weight: 400;
      background-color: #0d294d;
      color: white;
    }
    /* NAVIGATIE */
    header {
      background-color: #444a6a;
      margin: 0 auto 0 auto;
      height: 100%;
      width: 7.66%;
      float: left;
    }
    nav ul img {
      width: 100%;
      height: 80px;
      margin-bottom: 15px;
      margin-top: 20px;
    }
    nav ul li a {
      text-decoration: none;
      color: white;
      font-weight: 300;
    }
    nav ul li {
      text-align: center;
    }
    .selected {
      color: #f47936;
    }
    .navLine {
      width: 80%;
      margin-top: 9px;
      margin-bottom: 24px;
    }
    .navIcons {
      padding-bottom: 10px;
    }
    .title {
      float: left;
      height: 45px;
      width: 83.15%;
      margin: 20px 1.46% 15px 1.46%;
      background-color: #444a6a;
    }
    .title h1 {
      font-weight: 700;
      color: white;
      margin: 13px 0 0 20px;
    }
    .notificationIcon {
      background-color: #444a6a;
      height: 45px;
      width: 4.29%;
      float: left;
      margin: 20px 1.95% 15px 0;
    }
    .notificationIcon a {
      text-decoration: none;
      color: white;
      float: left;
    }
    .icon-notification {
      margin: 5px;
    }
    /* INDEX */
    /* house overview blokjes */
    .rooms {
      font-family: "yellow", "Lato", sans-serif;
      display: inline-block;
      font-size: 33px;
    }
    .green {
      color: #25db91;
    }
    .red {
      color: #dc485e;
    }
    div.icon-block {
      display: inline-block;
      padding-top: 15px;
    }
    p.rooms {
      padding-top: 15px;
      padding-left: 15px;
    }
    /* outside table */
    #outside table {
      margin: 2px;
      margin-top: 2px;
      float: right;
      display: inline;
    }
    #outside table tr td {
      padding: 15px;
    }
    #outside td {
      padding: 20px;
      font-size: 16pt;
    }
    #outside td:first-child {
      padding-right: 0px;
      padding-left: 0px;
      text-align: left;
    }
    #outside td:last-child {
      padding-left: 0px;
      text-align: right;
    }
    #outside tr:last-child td {
      border-bottom: 0px;
    }
    #outside tr:first-child td {
      padding-top: 10px;
    }
    /* ROOMS */
    #rooms #livingroom,
    #kitchen,
    #diningroom,
    #bathroom,
    #bedroom1,
    #bedroom2,
    #attic,
    #addroom {
      background-color: #444a6a;
      color: #FFF;
      font-weight: 300;
      font-size: 25px;
      width: 21.14%;
      height: 329px;
      margin: 0 0 1.46% 1.46%;
      float: left;
      text-align: center;
    }
    #rooms img {
      padding-top: 30%;
    }
    #rooms h2 {
      padding-top: 5%;
    }
    /* DETAIL PAGINA */
    .title a {
      text-decoration: none;
      color: white;
    }
    /* back button */
    #temperature #humidity,
    .title img {
      margin: 1% 0 0 1%;
      display: inline-block;
    }
    #temperature #humidity,
    .title h1 {
      margin: 0 0 0 5%;
      display: inline-block;
    }
    /* oranje deel */
    #temperature #humidity,
    .orange {
      background-color: #fa7b35;
      color: #FFF;
      font-weight: 300;
      height: 85.03%;
      width: 50.29%;
      margin: 0 0 1.46% 1.46%;
      float: left;
    }
    #temperature #humidity,
    .orange .hour {
      padding: 2% 0 0 2%;
      font-size: 25px;
    }
    #temperature #humidity,
    .orange .room {
      text-align: center;
      font-size: 27px;
      padding-top: 2%;
    }
    #temperature #humidity,
    .orange .value {
      font-size: 120px;
      text-align: center;
      padding-top: 10%;
    }
    #temperature #humidity,
    table {
      margin: 45px;
      margin-bottom: 0;
    }
    #temperature #humidity,
    table tr td {
      padding: 15px;
    }
    #temperature #humidity,
    td {
      border-bottom: 1px solid white;
      padding: 20px;
      font-size: 20pt;
    }
    #temperature #humidity,
    td:first-child {
      padding-right: 120px;
      text-align: left;
    }
    #temperature #humidity,
    td:last-child {
      padding-left: 120px;
      text-align: right;
    }
    #temperature #humidity,
    tr:last-child td {
      border-bottom: 0px;
    }
    /* setpoints */
    #temperature #humidity,
    .setpoints {
      background-color: #444a6a;
      color: #FFF;
      width: 37.25%;
      height: 32.94%;
      margin: 0 0 1.46% 1.46%;
      display: inline-block;
    }
    #temperature #humidity,
    .setpoints h3 {
      padding: 5% 0 5% 5%;
      font-size: 25px;
      display: inline-block;
    }
    #temperature #humidity,
    .setpoints input[type=text] {
      width: 60px;
      margin-left: 100px;
    }
    /* ideal situation */
    #temperature #humidity,
    .idealsituation {
      background-color: #444a6a;
      color: #FFF;
      width: 37.25%;
      height: 24.25%;
      margin: 0 0 1.46% 1.46%;
      display: inline-block;
    }
    #temperature #humidity,
    .idealvalue {
      font-size: 50px;
      padding: 2%;
      font-weight: 300;
    }
    #temperature #humidity,
    .reason {
      font-weight: 300;
      padding: 2% 2%;
    }
    /* outside */
    #temperature #humidity,
    .outside {
      background-color: #444a6a;
      color: #FFF;
      width: 37.25%;
      height: 23.70%;
      margin: 0 0 1.46% 1.46%;
      display: inline-block;
    }
    #temperature #humidity,
    .outside img {
      padding: 5% 0 0 5%;
      float: left;
    }
    #temperature #humidity,
    .idealvalue {
      text-align: center;
    }
    #temperature #humidity,
    .outside h3 {
      display: block;
      padding-bottom: 5%;
    }
    #temperature #humidity,
    h2 {
      padding: 2%;
      padding-left: 2%;
      font-size: 23px;
    }
    #temperature #humidity,
    #outsidedetail table {
      margin: 2px;
      margin-top: 2px;
      float: right;
      display: inline;
    }
    #temperature #humidity,
    #outsidedetail table tr td {
      padding: 15px;
    }
    #temperature #humidity,
    #outsidedetail td {
      border-bottom: 0px;
      padding: 20px;
      font-size: 16pt;
    }
    #temperature #humidity,
    #outsidedetail td:first-child {
      padding-right: 0px;
      text-align: left;
    }
    #temperature #humidity,
    #outsidedetail td:last-child {
      padding-left: 0px;
      text-align: right;
    }
    #temperature #humidity,
    #outsidedetail tr:last-child td {
      border-bottom: 0px;
    }
    #temperature #humidity,
    #outsidedetail tr:first-child td {
      padding-top: 0px;
    }
    /* back button */
    #temperature #humidity,
    .title img {
      margin: 1% 0 0 1%;
      display: inline-block;
    }
    #temperature #humidity,
    .title h1 {
      margin: 12px 0 0 20px;
      display: inline-block;
    }
    /* oranje deel */
    #temperature #humidity,
    .orange {
      background-color: #fa7b35;
      color: #FFF;
      font-weight: 300;
      height: 85.03%;
      width: 50.29%;
      margin: 0 0 1.46% 1.46%;
      float: left;
    }
    #temperature #humidity,
    .orange .hour {
      padding: 2% 0 0 2%;
      font-size: 25px;
    }
    #temperature #humidity,
    .orange .room {
      text-align: center;
      font-size: 27px;
      padding-top: 2%;
    }
    #temperature #humidity,
    .orange .value {
      font-size: 120px;
      text-align: center;
      padding-top: 10%;
    }
    #temperature #humidity,
    table {
      margin: 45px;
      margin-bottom: 0;
    }
    #temperature #humidity,
    table tr td {
      padding: 15px;
    }
    #temperature #humidity,
    td {
      border-bottom: 1px solid white;
      padding: 20px;
      font-size: 20pt;
    }
    #temperature #humidity,
    td:first-child {
      padding-right: 120px;
      text-align: left;
    }
    #temperature #humidity,
    td:last-child {
      padding-left: 120px;
      text-align: right;
    }
    #temperature #humidity,
    tr:last-child td {
      border-bottom: 0px;
    }
    /* setpoints */
    #temperature #humidity,
    .setpoints {
      background-color: #444a6a;
      color: #FFF;
      width: 37.25%;
      height: 32.94%;
      margin: 0 0 1.46% 1.46%;
      display: inline-block;
    }
    #temperature #humidity,
    .setpoints h3 {
      padding: 5% 0 5% 5%;
      font-size: 25px;
      display: inline-block;
    }
    #temperature #humidity,
    .setpoints input[type=text] {
      width: 60px;
      margin-left: 100px;
    }
    /* ideal situation */
    #temperature #humidity,
    .idealsituation {
      background-color: #444a6a;
      color: #FFF;
      width: 37.25%;
      height: 24.25%;
      margin: 0 0 1.46% 1.46%;
      display: inline-block;
    }
    #temperature #humidity,
    .idealvalue {
      font-size: 50px;
      padding: 2%;
      font-weight: 300;
    }
    #temperature #humidity,
    .reason {
      font-weight: 300;
      padding: 2% 2%;
    }
    /* outside */
    #temperature #humidity,
    .outside {
      background-color: #444a6a;
      color: #FFF;
      width: 37.25%;
      height: 23.70%;
      margin: 0 0 1.46% 1.46%;
      display: inline-block;
    }
    #temperature #humidity,
    .outside img {
      padding: 5% 0 0 5%;
      float: left;
    }
    #temperature #humidity,
    .idealvalue {
      text-align: center;
    }
    #temperature #humidity,
    .outside h3 {
      display: block;
      padding-bottom: 5%;
    }
    #temperature #humidity,
    h2 {
      padding: 2%;
      padding-left: 2%;
      font-size: 23px;
    }
    #temperature #humidity,
    #outsidedetail table {
      margin: 2px;
      margin-top: 2px;
      float: right;
      display: inline;
    }
    #temperature #humidity,
    #outsidedetail table tr td {
      padding: 15px;
    }
    #temperature #humidity,
    #outsidedetail td {
      border-bottom: 0px;
      padding: 20px;
      font-size: 16pt;
    }
    #temperature #humidity,
    #outsidedetail td:first-child {
      padding-right: 0px;
      text-align: left;
    }
    #temperature #humidity,
    #outsidedetail td:last-child {
      padding-left: 0px;
      text-align: right;
    }
    #temperature #humidity,
    #outsidedetail tr:last-child td {
      border-bottom: 0px;
    }
    #temperature #humidity,
    #outsidedetail tr:first-child td {
      padding-top: 0px;
    }
    /* PROFILE PAGINA */
    #dash .doNotDisturb p {
      float: left;
      display: block;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    #dash .doNotDisturb input[type=time] {
      margin-left: 200px;
      margin-top: 17px;
      display: block;
    }
  }
  /* NOTIFICATIONS */
  
  #notificationContainer {
    position: relative;
    display: inline-block;
    font-weight: 300;
  }
  
  .notificationContent {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #444a6a;
    float: left;
    margin-left: -290px;
    width: 335px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    max-height: 670px;
    overflow: hidden;
  }
  
  .newnotify {
    padding: 20px;
    color: white;
    color: #fa7b35;
    background-color: #444a6a;
  }
  
  .oldnotify {
    background-color: #444a6a;
    color: #c8cacc;
    padding: 20px;
  }
  
  .notificationicon {
    background-color: #fa7b35;
  }
  
  .blue {
    background-color: #444a6a;
  }
  
  .notLine {
    width: 80%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hiddenDialog {
    background-color: #444a6a;
    text-align: center;
    display: none;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 50px;
  }
  
  .show {
    display: inline-block;
  }
  
  .greenDialog {
    color: #25db91;
    float: left;
    padding: 20px;
    padding-top: 0;
  }
  
  .redDialog {
    color: #dc485e;
    float: right;
    padding: 20px;
    padding-top: 0;
  }